/*GENERAL*/

:root {
  --color-one: black;
  --color-two: yellow;
  --color-three: silver;
  --color-four: rgb(190, 185, 185);
  --color-five: rgba(214, 225, 228, 0.322);
  --color-seven: rgba(101, 216, 24, 0.288);
  --color-eight: rgba(47, 82, 196, 0.188);
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
}

*,
*:before,
*:after {
  border: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  overflow-wrap: break-word;
  word-wrap: break-word;
  scroll-behavior: smooth;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-family: "Roboto" !important;
}

::-webkit-scrollbar {
  display: none !important;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.debug {
  outline: 1px solid red;
}

html,
body {
  font-family: "Roboto" !important;
  font-weight: 400;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 1.15rem;
  line-height: 1.4rem;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  background: white;

  background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
  background-size: 5px 5px;
}

#app {
  position: relative;
  height: 100%;
  min-width: 40vw;
  width: 40vw;
  overflow: scroll;
}

#wrapper {
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: scroll;
  padding: 20px 0 0 0;
}

h1 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.1rem;
  width: 100%;
}

h3 {
  font-size: 1rem;
}

li {
  list-style: none;
}

time {
  font-size: 0.8rem;
}

p {
  margin: 0 0 20px 0;
}

label {
  font-weight: bold;
}

article img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

img[src=""] {
  display: none;
}

img[src=" "] {
  display: none;
}

button {
  font-size: 1rem;
  background: rgb(255, 255, 255);
  min-width: 93%;
  max-width: 90%;

  padding: 5px;
  margin: 0px 0 15px 5px;
  color: black;
  border-radius: 10px;
  border: 2px solid gray;
  font-weight: 700;
  min-height: 40px;
  font-family: "Roboto" !important;
}
button:focus {
  background: orange;
  border: 0px solid gray;
}

button:hover {
  background: orange;
  border: 0px solid gray;
}

a.button-style {
  font-size: 1rem;
  background: rgb(255, 255, 255);
  width: 95%;
  padding: 5px;
  margin: 10px 0 15px 0px;
  color: black;
  border-radius: 10px;
  border: 2px solid gray;
  font-weight: 700;
  min-height: 40px;
  font-family: "Roboto" !important;
  display: block;
  text-align: center;
}
a.button-style:focus {
  background: orange;
  border: 0px solid gray;
}

a {
  text-decoration: none;
}

select {
  width: 95%;
  padding: 10px;
  margin: 10px 5% 0px 5%;

  /* styling */
  background-color: white;
  border: thin solid rgb(56, 56, 66);
  border-radius: 4px;
  font: inherit;
  line-height: 1.5em;
  text-align: center;

  /* reset */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

textarea {
  height: 30px;
  width: 95%;
  padding: 3px;
  border: 1px solid silver;
}

input {
  width: 100%;
  height: 40px;
  padding: 6px;
  border-bottom: 3px solid black;
  border-radius: 0px;
  margin: 0 0 0 0px;
  font-size: 1.2rem;
  background: rgba(101, 216, 24, 0.288);
}

input#search-input {
  position: relative;
  background: rgba(101, 216, 24, 0.288);
}

label {
  display: block;
  min-width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
}
.input-parent {
  min-width: 100%;
  padding: 10px;
  margin: 0 0 20px 0;
}

.input-parent:focus {
  background: orange;
}

article:focus {
  background: rgb(202, 199, 199);
  padding: 5px;
}

div#intro {
  position: fixed;
  background: black;
  z-index: 100000;
  min-width: 100vw;
  height: 100%;
  left: 0;
  top: 0;
}

div#intro img {
  width: 120px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -60px;
}

#intro #version-box {
  position: absolute;
  bottom: 50px;
  height: 40px;
}

#intro #version-box kbd {
  border: 2px solid pink;
  box-shadow: 2px 2px pink;
  font-size: 0.6em;
  line-height: 0.85em;
  display: block;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: 3px 5px;
  white-space: nowrap;
  color: white;
  width: fit-content;
  height: 20px;
}

article {
  min-width: 100%;
  background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
  background-size: 5px 5px;
}

#start {
  min-width: 100%;
  overflow: scroll;
  padding: 20px 20px 60px 20px;
}

article {
  margin: 30px 0 10px 0;
  position: relative;
}

article .tag {
  width: auto;
  right: 5px;
  font-size: 0.7rem;
  border: 2px solid black;
  border-radius: 8px;
  padding: 3px;
  line-height: 0.4rem;
  margin: 0 5px 0 0;
}

article .tags {
  margin: 0 0px 10px 0;
}

#article article:focus {
  background: rgb(202, 199, 199);
}

#article {
  padding: 20px 20px 20px 20px;
  width: 100%;
}

#start article:focus {
  background: rgb(202, 199, 199);
}

#KaiOSAd {
  height: 200px;
  width: 240px;
}

#KaiOSAds-Wrapper {
  padding: 0px;
}

#KaiOSAds-Wrapper iframe {
  width: 240px;
}

.text {
  word-break: break-all; /* Breaks the URL at any character */
  padding: 0px 0px 50px 0px;
  background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
  background-size: 5px 5px;
}

#optionsView {
  margin: 40px 0 0 0;
}

#account_info {
  padding: 20px;
  margin: 0 0 20px 0;
}

.page {
  margin: 30px 0 0 0;
  padding: 10px 10px 40px 10px;
}

#button-save-settings {
  margin: 30px 0 0 0;
}

#settings-page .seperation {
  margin: 80px 0 0 0;
  width: 100%;
  height: 5px;
}

div#map-container {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  margin: 0px 0 0 0;
  top: 0;
  left: 0;
  z-index: 0;
}

img.myMarker {
  filter: hue-rotate(120deg);
}

#start section#stats-footer {
  padding: 20px 0;
  font-size: 0.9rem;
  border-top: 0px solid black;
}

#start:not(.search-ok) section#stats-footer {
  border-top: 0px solid black;
  margin: 10px 0 0 0;
}

#start.search-ok section#stats-footer {
  border-top: 4px solid black;
  margin: 40px 0 0 0;
}

section#stats-footer span {
  margin: 0px 20px 0 0;
}

#detail ul {
  margin: 20px 0 0 0;
}

#detail ul li {
  margin: 10px 0 0 0;
}

#detail ul li div {
  font-weight: bold;
}

/*///////////////////////////
///TOAST////////////////*/

div#toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: black;
  color: white;
  z-index: 10;
  min-width: 100%;
  padding: 5px;
  top: 0px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  transform: translate(0px, -100px);
}

div#side-toast {
  position: fixed;
  height: auto;
  overflow: none;
  background: orange;
  color: white;
  z-index: 10;
  padding: 8px;
  top: 70vh;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;

  transition: all 0.5s ease-in-out;
  transform-origin: left top;
  opacity: 0;
  max-width: 100vw;
}

div#side-toast img {
  width: 60px;
}

/*/ //////////////////////////
///VIEWS////////////////*/

div#options {
  display: none;
  position: absolute;
  z-index: 4;
  top: 0;
  display: none;
  padding: 5px;
  height: 92vh;
  overflow: hidden;
  padding: 10px 0 0 0;
}

/*/////////////////
///BOTTOM BAR////
////////////////*/

div#bottom-bar {
  position: fixed;
  z-index: 2000;
  bottom: 20px;
  left: 0px;
  height: 50px;
  z-index: 6;
  background: none;
  width: 100vw;

  display: flex;
  justify-content: center; /* Horizontally center all child elements */
  align-items: center; /* Vertically center all child elements */
}

div#bottom-bar div.inner {
  position: relative;
  display: flex;
  justify-content: space-between;

  padding: 10px;
}

div#bottom-bar div {
  background: none;
  color: white;
  padding: 2px;
  font-size: 0.8rem;
}

div#bottom-bar div.button-center img {
  width: 40px;
  cursor: pointer;
}

div#bottom-bar div.button-left {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-start;
}

div#bottom-bar div.button-left img {
  width: 40px;
}

div#bottom-bar div.button-right img {
  width: 40px;
}

div#bottom-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-end;
}

div#bottom-bar div.button-center {
  display: flex; /* Enable flexbox for the button-center div */
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
}

/*/ ////////////////
///TOP-BAR///////*/

div#top-bar {
  position: fixed;
  z-index: 2000;
  top: 0px;
  left: 0px;
  height: 30px;
  z-index: 6;
  min-width: 100vw;
  display: flex;
  justify-content: center; /* Horizontally center all child elements */
  align-items: center; /* Vertically center all child elements */
}

div#top-bar div.inner {
  position: relative;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

div#top-bar div {
  background: none;
  color: white;
  padding: 2px;
  font-size: 0.8rem;
}

div#top-bar div.button-left img {
  width: 40px;
}

div#top-bar div.button-right img {
  width: 40px;
}

div#top-bar div.button-center img {
  width: 40px;
}

div#top-bar div.button-left {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-start;
}

div#top-bar div.button-right {
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
  display: flex;
  justify-content: flex-end;
}

div#top-bar div.button-center {
  display: flex; /* Enable flexbox for the button-center div */
  justify-content: center; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
  background: none;
  color: white;
  padding: 2px;
  width: 32%;
}

.loading-spinner {
  display: none;
  position: fixed;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;

  z-index: 5000000000000;
}
.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 8px;
  border: 8px solid rgb(126, 11, 11);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(238, 27, 27) transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

.loading-spinner-2 {
  display: none;
  position: absolute;
  width: 10px;
  height: 10px;
  right: 40px;
  top: 25px;

  z-index: 5000000000000;
}
.loading-spinner-2 div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 8px;
  border: 8px solid rgb(17, 0, 0);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(0, 0, 0) transparent transparent transparent;
}
.loading-spinner-2 div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner-2 div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

video {
  max-width: 100%;
}
#video-container {
  max-width: 100%;
}

.video-player {
  max-width: 100%;
}

@media screen and (min-width: 400px) and (max-width: 900px) {
  html,
  body {
    font-family: "Roboto" !important;
    font-weight: 400;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    background: white;

    background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
    background-size: 5px 5px;
  }

  #wrapper {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    padding: 20px 0 0 0;
  }
  #app {
    position: relative;
    height: 100%;
    min-width: 100vw;
    width: 100vw;
    padding: 0;
  }

  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.1rem;
    width: 100%;
    margin: 0 0 10px 0;
  }

  h3 {
    font-size: 1.1rem;
  }

  time {
    font-size: 0.9rem;
  }

  #app {
    position: relative;
    height: 100%;
    min-width: 100vw;
    width: 100vw;
    padding: 0;
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  html,
  body {
    font-family: "Roboto" !important;
    font-weight: 400;
    position: relative;
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    line-height: 1.4rem;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    background: white;

    background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
    background-size: 5px 5px;
  }

  h2 {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  #wrapper {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    padding: 0px 0 0 0;
  }

  #app {
    position: relative;
    height: 100%;
    min-width: 100vw;
    width: 100vw;
    padding: 10px;
  }

  #article {
    padding: 0px;
    background-image: radial-gradient(circle, #e2dddd 10%, transparent 11%);
    background-size: 25px 25px;
  }

  #start article {
    padding: 10px;
    margin: 0 0 10px 0;
    min-width: 100vw;
  }

  #start {
    min-width: 100%;
    overflow: hidden;
    padding: 10px 0px 50px 0;
  }

  div#top-bar div.button-left img {
    width: 25px;
  }

  div#top-bar div.button-right img {
    width: 25px;
  }

  div#top-bar div.button-center img {
    width: 25px;
  }

  div#bottom-bar div.button-left img {
    width: 25px;
  }

  div#bottom-bar div.button-right img {
    width: 25px;
  }

  div#bottom-bar div.button-center img {
    width: 25px;
  }

  div#bottom-bar {
    position: fixed;
    z-index: 2000;
    bottom: 30px;
    left: 0vw;
    height: 18px;
    z-index: 6;
    background: none;
    min-width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  div#bottom-bar div.inner {
    position: relative;
    display: flex;
    justify-content: space-between;

    padding: 5px;
  }

  div#intro img {
    width: 80px;
    height: auto;
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -40px;
  }

  #settings-page .seperation {
    margin: 20px 0 0 0;
    width: 100%;
    height: 5px;
  }

  #settings-page {
    margin: 10px 0 0 0;
    width: 100vw;
  }

  .input-parent {
    min-width: 100vw;
  }
}
